* {
    cursor: default;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#game-menu {
    background-color: #16516555;
    color: #ffffff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    height: 100%;
}

#game-menu .container {
    padding: 10%;
}

#game-menu .container ul li {
    list-style: none;
    padding: 12px;
    margin: 6px 0;
}

#game-menu .container a {
    text-decoration: none;
    color: #ffffff;
}