body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#game-menu {
    background-color: #165165;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    height: 100%;
    padding: 8px;
}